<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e6e9c3">  <td>21/09/23 11:13:42</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;MainPageTest.envSetup()[pri:0, instance:TestProject.MainPageTest@5c3bd550]">&gt;&gt;envSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>21/09/23 11:13:47</td>   <td>4485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.signUp()[pri:0, instance:TestProject.MainPageTest@5c3bd550]">signUp</td> 
  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>21/09/23 11:13:47</td>   <td>4738</td> <td>&nbsp;</td><td title="&lt;&lt;MainPageTest.closeDriver()[pri:0, instance:TestProject.MainPageTest@5c3bd550]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1164371389</td>   <td></td> </tr>
</table>
